.body{
    display: flex;
    flex-direction: column;
   
}

.top{
   background-color: #1F2937; 
   display: flex;
   flex-direction: column;
   color: #F9FAF8;
}
.header{
    display: flex;
    justify-content: space-around;
}
.main{
    display: flex;
    justify-content: space-around;
    padding: 30px;

    /* flex-direction: column; */
}
ul{
    display: flex;
    gap: 10px;
}

li{
    list-style-type: none;
}

.the-bold{
    font-weight: bold;
    font-size: 48px;
}
button{
    background-color: #3882F6;
    margin-top: 16px;
}

.main-text,
.main-pic{
    /* height: 100px; */
    width: 300px; 

}

.middle-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-part-header{
    font-size: 36px;
    font-weight: bolder;

}
.middle-part-text{
    display: flex;
}
.card{
    width: 150px;
    
}
img{
    border-style: solid;
    border-color: #3882F6;
    border-width: 2px;
}