body{
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.top{
    display: flex;
    flex-direction: column;

}
.header{
    display: flex;
    justify-content: space-around;
}
.main{
    display: flex;
    justify-content: center;
    padding: 50px;
} 
.desc{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.main-text{
    display: flex;
    flex-flow: wrap column;
    padding: 10px;
    
}
ul{
    display: flex;
    gap: 10px;
}

li{
    list-style-type: none;
}
.the-bold{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}
button{
    padding: 10px;
}
button,
.call-to-action{
    background-color: #3882F6;
    border-radius: 10px;
}
.middle-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-part-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}
.middle-part-text{
    display: flex;
    gap: 30px;
}
.card-text{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
}
.sri-img{
    border-style: solid;
    border-color: #3882F6;
    border-width: 2px;
    border-radius: 25px;
    width: 150px;
    height: 150px;
}
.qoutes{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.quotes-main-text{
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quotes-author{
    display: flex;
    align-self: flex-end;
    font-weight: bolder;

}
.qoute{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 50px;
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 50px;
}
.call-head{
    font-weight: bold;
}
.footer{
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.top, .footer{
    background-color: #1F2937; 
}
.sec-text, 
li{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
